
/* section 1 actualities */
.row_section1{
    background-image: url('../../images/svg/Mask group.svg');
    height: 1194px;
    display: flex;
    justify-content: center;
    
}
.container_section1{
    /* container */
    max-width: 1200px;
    width: calc(100% - 20px);
    height: 1142px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 37px;
}
.section1_banner{
    margin-top: 20px;
    max-width: 1149px;
    width: calc(100% - 30px);
    height: 422px;
    background-image: linear-gradient(182.12deg, rgba(0, 0, 0, 0.0318) 13.77%, rgba(0, 0, 0, 0.53) 42.66%), url('../../images/svg/image 1.svg');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
    position: relative;
}
.row_text_date{
    bottom: 18px;
    left: 34px;
    position: absolute;
}
.row_text_date p:nth-child(1) {
    width: 846px;
    height: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 40px;
    color: #FFFFFF;
    
}
  
.row_text_date p:nth-child(2) {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 40px;
    color: #FFFFFF;
}
.social_medias_text_content{
    max-width: 1149px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.social_medias{
    width: 46px;
    height: 213px;
    background: #D9D9D9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.social_medias_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.social_medias_content i{
    width: 24px;
    height: 24px;
    background-color: #000000;
    cursor: pointer;
}
.social_medias_content i:hover{
    background-color: #FF910E;
}
.text_content{
    max-width: 1051px;
    width: calc(100% - 46px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .row_text_date p:nth-child(1) {
        width: 90%;
        height: 80px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 1.625rem;
        line-height: 30px;
        color: #FFFFFF;
        
    }
  
    .row_text_date p:nth-child(2) {
        font-size: 1rem;
        line-height: 20px;
    }
    
}

@media screen and (max-width : 767px) {
    .section1_banner{
        height: 150px;
    }
    .row_text_date p:nth-child(1) {
        width: 90%;
        height: 80px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 30px;
        color: #FFFFFF;
        
    }
  
    .row_text_date p:nth-child(2) {
        font-size: 1rem;
        line-height: 20px;
    }
    
}
/* Section 3 */
.row_section2{
    margin-top: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 57px;
}
.row_card_section2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: calc(100% - 30px);
    flex-direction: column;
    position: relative;
}
.row_card_section2_content{
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    /* gap: 74px; */
}
.card_section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 383px;
    background: #5A5859;

}
.card_section2_content1{
    padding: 9px 0px 9px 0px;
    width: 332px;
    height: 249px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_section2_content1 img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_section2_content2{
    width: 350px;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-shadow: 0px 0px 1px #3B3838;
}
.card_section2_content2_content{
    width: 95%;
}
.card_section2_content2_content p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.04em;
    color: #3B3838;
    /* margin-bottom: 12px; */
}
.card_date{
    margin-top: 12px;
    width: 130px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card_date i{
    background-color: #000000;
}
.card_date p{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 14px;
    color: #FF910E;
}
.row_view_more{
    cursor: pointer;
    margin-top: 41px;
    margin-bottom: 17px;
    width: 297px;
    height: 47px;
    background: #A4A2A0;
    border: 1px solid #A4A2A0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    
}
.row_view_more:hover{
    background-color: #FF910E;
    border-color: #FF910E;
}
.row_view_more_content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row_view_more_content img{
    width: 46px;
}
.row_view_more_content a{
    cursor: pointer;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;  
}
@media screen and (min-width : 1025px) and (max-width : 1199px) {
    .row_card_section2{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: calc(100% - 30px);
        flex-direction: column;
        position: relative;
    }
    .row_card_section2_content{
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-between;
        /* gap: 74px; */
    }
    .card_section2{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 31%;
        height: 383px;
        background: #5A5859;
    
    }
    .card_section2_content1{
        padding: 9px 0px 9px 0px;
        width: calc(100% - 18px);
        height: 249px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card_section2_content1 img{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card_section2_content2{
        width: 100%;
        height: 100%;
    }
    .card_section2_content2_content{
        width: 95%;
    }
    .card_section2_content2_content p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 0.9375rem;
        line-height: 18px;
        text-align: justify;
        letter-spacing: 0.04em;
        color: #3B3838;
        /* margin-bottom: 12px; */
    }
    .card_date{
        margin-top: 12px;
        width: 130px;
        height: 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .card_date i{
        background-color: #000000;
    }
    .card_date p{
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 14px;
        color: #FF910E;
    }
    .row_view_more{
        cursor: pointer;
        margin-top: 41px;
        margin-bottom: 17px;
        width: 297px;
        height: 47px;
        background: #A4A2A0;
        border: 1px solid #A4A2A0;
        display: flex;
        justify-content: center;
        margin-left: auto;
        
    }
    .row_view_more:hover{
        background-color: #FF910E;
        border-color: #FF910E;
    }
    .row_view_more_content{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .row_view_more_content img{
        width: 46px;
    }
    .row_view_more_content a{
        cursor: pointer;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;  
    }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .row_card_section2{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: calc(100% - 30px);
        flex-direction: column;
        position: relative;
    }
    .row_card_section2_content{
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-between;
        gap: 4px;
    }
    .card_section2{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 300px;
        width: 31%;
        height: 383px;
        background: #5A5859;
    
    }
    .card_section2_content1{
        padding: 9px 0px 9px 0px;
        width: calc(100% - 18px);
        height: 249px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card_section2_content1 img{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card_section2_content2{
        width: 100%;
        height: 100%;
    }
    .card_section2_content2_content{
        width: 95%;
    }
    .card_section2_content2_content p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 0.9375rem;
        line-height: 18px;
        text-align: justify;
        letter-spacing: 0.04em;
        color: #3B3838;
        /* margin-bottom: 12px; */
    }
    .card_date{
        margin-top: 12px;
        width: 130px;
        height: 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .card_date i{
        background-color: #000000;
    }
    .card_date p{
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 14px;
        color: #FF910E;
    }
    .row_view_more{
        cursor: pointer;
        margin-top: 41px;
        margin-bottom: 17px;
        width: 297px;
        height: 47px;
        background: #A4A2A0;
        border: 1px solid #A4A2A0;
        display: flex;
        justify-content: center;
        margin-left: auto;
        
    }
    .row_view_more:hover{
        background-color: #FF910E;
        border-color: #FF910E;
    }
    .row_view_more_content{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .row_view_more_content img{
        width: 46px;
    }
    .row_view_more_content a{
        cursor: pointer;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;  
    }
}

@media screen and (max-width : 767px)  {
    .row_card_section2{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: calc(100% - 30px);
        flex-direction: column;
        position: relative;
    }
    .row_card_section2_content{
        width: calc(100% - 20px);
        display: flex;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;
    }
    .card_section2{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        height: 383px;
        background: #5A5859;
    
    }
    .card_section2_content1{
        padding: 9px 0px 9px 0px;
        width: calc(100% - 18px);
        height: 249px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card_section2_content1 img{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card_section2_content2{
        width: 100%;
        height: 100%;
    }
    .card_section2_content2_content{
        width: 95%;
    }
    .card_section2_content2_content p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 0.9375rem;
        line-height: 18px;
        text-align: justify;
        letter-spacing: 0.04em;
        color: #3B3838;
        /* margin-bottom: 12px; */
    }
    .card_date{
        margin-top: 12px;
        width: 130px;
        height: 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .card_date i{
        background-color: #000000;
    }
    .card_date p{
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 14px;
        color: #FF910E;
    }
    .row_view_more{
        cursor: pointer;
        margin-top: 41px;
        margin-bottom: 17px;
        width: 297px;
        height: 47px;
        background: #A4A2A0;
        border: 1px solid #A4A2A0;
        display: flex;
        justify-content: center;
        margin-left: auto;
        
    }
    .row_view_more:hover{
        background-color: #FF910E;
        border-color: #FF910E;
    }
    .row_view_more_content{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .row_view_more_content img{
        width: 46px;
    }
    .row_view_more_content a{
        cursor: pointer;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;  
    }
}