
.icon {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  background-color: #A7AEBC;
  -webkit-mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat ;
  -webkit-mask-position: center;
}
/*
* icon-
*/
.icon-localisation {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-localisation.svg');
}

/*
* icon-phone
*/
.icon-phone {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-phone.svg');
}


/*
* icon-email
*/
.icon-email {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-email.svg');
}



/*
* icon-calendar
*/
.icon-calendar {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-calendar.svg');
}

/*
* icon-facebook
*/
.icon-facebook {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-facebook.svg');
}

/*
* icon-instagram
*/
.icon-instagram {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-instagram.svg');
}

/*
* icon-twitter
*/
.icon-twitter {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-twitter.svg');
}

/*
* icon-youtube
*/
.icon-youtube {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-youtube.svg');
}

/*
* icon-linkedin
*/
.icon-linkedin {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-linkedin.svg');
}

/*
* icon-angle-arrown-bottom
*/
.icon-angle-arrown-bottom {
  -webkit-mask-image: url('./../../../assets/images/svg/icon-angle-arrown-bottom.svg');
}